img {
    -webkit-filter: brightness(100%);
}

img:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#corners-sh {
  border-radius: 40px 40px 40px 40px;  
  background: #44475a;
  padding: 15px;
  width: 550px;
  height: 130px; 
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.19);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#corners-bm {
  border-radius: 60px;
  background: #44475a;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 30px;
  width: 460px;
  height: 60px; 
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.19);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#corners-lk {
  border-radius: 10px;
  background: #44475a;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 440px;
  height: 150px; 
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.19);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
a:link {
  color: #bd93f9;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #bd93f9;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #ff79c6;
  background-color: transparent;
}
.topnav input[type=text] {
  background: #44475a;
  color: #f2f8f8;
  padding: 5px;
  margin-left: 20px;
  font-size: 17px;
  border: 1px solid grey;
  width: 30%;
  position: absolute;
  right: 12px;
}
.topnav button[type=submit] {
  background: #282a36;
  color: #bd93f9;
  padding: 5px;
  font-size: 17px;
  border: 1px solid grey;
  width: 5%;
  margin-right: 5px;
  position: absolute;
  right: 6px;
}
